{{> admin-tabs route='users'}}

<div class="row">
  <div class="col-md-2">
    <div class="form-floating">
      <select class="form-select" onchange="location = this.value;">
        {{#each pagination.limitOptions}}
        <option value="/admin/users?isAdmin={{../isAdmin}}&limit={{this}}" {{#if_isMatch this
          ../pagination.limit}}selected{{/if_isMatch}}>
          {{this}}</option>
        {{/each}}
      </select>
      <label for="floatingSelectGrid">Records per page</label>
    </div>
  </div>
</div>
<br />
<br />

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch 'all' isAdmin}}active{{/if_isMatch}}"
      href="?isAdmin=all&limit={{pagination.limit}}">全部</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch '1' isAdmin}}active{{/if_isMatch}}"
      href="?isAdmin=1&limit={{pagination.limit}}">admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if_isMatch '0' isAdmin}}active{{/if_isMatch}}"
      href="?isAdmin=0&limit={{pagination.limit}}">user</a>
  </li>
</ul>
<br />
<br />

<table class="table align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if this.isAdmin}}admin{{else}}user{{/if}}
      </td>
      <td>
        <form
          action="/admin/users/{{this.id}}?_method=PATCH&page={{../pagination.currentPage}}&isAdmin={{../isAdmin}}&limit={{../pagination.limit}}"
          method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-primary" {{#if_isMatch this.id
            ../user.id}}onclick="return confirm(`確定變更自己為 User 嗎？`)" {{/if_isMatch}}>
            set as {{#if this.isAdmin}}user{{else}}admin{{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination">
    <li class="page-item {{#if_isMatch pagination.currentPage 1}}disabled{{/if_isMatch}}">
      <a class="page-link" href="/admin/users?page={{pagination.prev}}&isAdmin={{isAdmin}}&limit={{pagination.limit}}"
        aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
    {{#if_isMatch this ../pagination.currentPage}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item">
      <a class="page-link"
        href="/admin/users?page={{this}}&isAdmin={{../isAdmin}}&limit={{pagination.limit}}">{{this}}</a>
    </li>
    {{/if_isMatch}}
    {{/each}}
    <li class="page-item {{#if_isMatch pagination.currentPage pagination.totalPage}}disabled{{/if_isMatch}}">
      <a class="page-link" href="/admin/users?page={{pagination.next}}&isAdmin={{isAdmin}}&limit={{pagination.limit}}"
        aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>