<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{user.image}}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body m-4">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text"><small class="text-muted">{{user.email}}</small></p>
            <ul style="list-style-type: none; padding: 0;">
              <li>{{user.Comments.length}} 已評論餐廳</li>
              <li>{{user.FavoritedRestaurants.length}} 收藏的餐廳</li>
              <li>{{user.Followings.length}} followings (追蹤者)</li>
              <li>{{user.Followers.length}} followers (追隨者)</li>
            </ul>
            {{#if_isMatch user.id reqUser.id}}<a class="btn btn-primary"
              href="/users/{{user.id}}/edit">edit</a>{{/if_isMatch}}
          </div>
          <div class="card-body m-4">
            {{#if_isMatch user.id reqUser.id}}
            {{else}}
            {{#if isFollowed }}
            <form action="/following/{{user.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger">取消追蹤</button>
            </form>
            {{else}}
            <form action="/following/{{user.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary">追蹤</button>
            </form>
            {{/if}}
            {{/if_isMatch}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header">
        {{user.Followings.length}} followings (追蹤者)
      </div>
      <div class="card-body">
        <div class="row">
          {{#each user.Followings}}
          <div class="col-sm-2 p-1">
            <a href="/users/{{this.id}}">
              <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        {{user.Followers.length}} followers (追隨者)
      </div>
      <div class="card-body">
        <div class="row">
          {{#each user.Followers}}
          <div class="col-sm-2 p-1">
            <a href="/users/{{this.id}}">
              <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header">
        {{user.Comments.length}} 已評論餐廳
      </div>
      <div class="card-body">
        <div class="row">
          {{#each user.Comments}}
          <div class="col-sm-1 p-1">
            <a href="/restaurants/{{this.Restaurant.id}}">
              <img class="card-img-top img-fluid" src="{{this.Restaurant.image}}" alt="Card image cap"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        {{user.FavoritedRestaurants.length}} 收藏的餐廳
      </div>
      <div class="card-body">
        <div class="row">
          {{#each user.FavoritedRestaurants}}
          <div class="col-sm-1 p-1">
            <a href="/restaurants/{{this.id}}">
              <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>